/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 28, 2024, 6:12:45 AM
    Author     : nhana
*/

body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    color: black;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

/* Header */
.head{
    display: flex;
    margin-top: 30px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    justify-content: space-between;
    align-items: center;
}

.headsearch img{
    width: 70px;
    height: auto;
    align-items: center;
}
.headact{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.head img{
    width: 70px;
    height: auto;
}

.search-input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    width: 300px; 
    margin-bottom:  20px;
}

.headname{
    text-align: center;
}
.headname h2{
    color: #497466;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.headname a{
    text-decoration: none;
}
.headname h2:hover{
    text-decoration: none;
    color: #6EAF99;
}

.headact [type="submit"]{
    text-decoration: none;
    font-weight: 600; 
    border: none; 
    background: none;
    padding: 0;
    margin: 0;
}

.headsearch{
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.tag{
    margin-top: 60px; 
    background-color: rgba(158, 201, 187, 0.5);
    width: 100%; 
    height: 40px;
}
.tag p{
    margin-left: 40px;
    padding-top: 10px;
}

.footer h6{
    color:black;
    font-weight: 600;
}

.footer p{
    color:black;
}

.bg-body-tertiary{
    background-color: #fff;
}

.footer a{
    text-decoration: none;
}

.footer [type="submit"]{
    text-decoration: none;
    color: black;
}

.footer a{
    color: black;
}

.footer a:hover{
    color: black;
}


/* NARBAR */
.navbar {
    justify-content: center;
    text-align: center;
    display: flex;
}
.navbar-nav {
    flex-direction: row;
}
.nav-link {
    color: black;
    padding-right: 20px;
    padding-left: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content input {
    width: 100%;
    padding: 12px 16px;
    margin: 0;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}
.dropdown-content input:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #ffffff;
}
.dropbtn {
    background-color: #F8F9FA;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 12px;
}
.dropbtn:hover {
    background-color: white;
}

.navb{
    justify-content: center;
    text-align: center;
    display: flex;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-top: 20px;
    background-color: rgba(240, 169, 99, 0.5);
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    margin-left: 80px;
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #F0A963;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

form {
    margin-bottom: 20px;
}

.tabl input[type="text"] {
    width: 50%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
}

.tabl input[type="submit"], button a {
    background-color: #F0A963;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.tabl button a:hover, .tabl input[type="submit"]:hover {
    background-color: #E97F16;
}

.tabl button {
    border: none;
    background: none;
    padding: 0;
}

.image{
    margin-top: 50px;
}

.image img{
    width: 50px;
    height: auto;
}
.tabl h4 {
    margin: 20px 0;
}

.tabl h4 a {
    color: white;
}

.tabl h4 a:hover {
    color: #b3e5fc;
}
.tabl tr:hover {
    background-color: #F0A963;
    text-align: center;
}