<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>Controller.UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>Controller.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountController</servlet-name>
        <servlet-class>Controller.AddAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>Controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListOfWomen</servlet-name>
        <servlet-class>Controller.ProductListOfWomen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListOfMen</servlet-name>
        <servlet-class>Controller.ProductListOfMen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListOfSun</servlet-name>
        <servlet-class>Controller.ProductListOfSun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountUser</servlet-name>
        <servlet-class>Controller.UpdateAccountUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByPrice</servlet-name>
        <servlet-class>Controller.SearchByPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGlassServlet</servlet-name>
        <servlet-class>Controller.UpdateGlassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopFOrAdmin</servlet-name>
        <servlet-class>Controller.ShopFOrAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGlassServlet</servlet-name>
        <servlet-class>Controller.DeleteGlassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>Controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>Controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserByAdmin</servlet-name>
        <servlet-class>Controller.UpdateUserByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserByFullName</servlet-name>
        <servlet-class>Controller.SearchUserByFullName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>Controller.RemoveFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityCartServlet</servlet-name>
        <servlet-class>Controller.UpdateQuantityCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInvoiceServlet</servlet-name>
        <servlet-class>Controller.AddInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceListServlet</servlet-name>
        <servlet-class>Controller.InvoiceListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInvoiceByUserId</servlet-name>
        <servlet-class>Controller.SearchInvoiceByUserId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/UserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountController</servlet-name>
        <url-pattern>/AddAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListOfWomen</servlet-name>
        <url-pattern>/ProductListOfWomen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListOfMen</servlet-name>
        <url-pattern>/ProductListOfMen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListOfSun</servlet-name>
        <url-pattern>/ProductListOfSun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountUser</servlet-name>
        <url-pattern>/UpdateAccountUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByPrice</servlet-name>
        <url-pattern>/SearchByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGlassServlet</servlet-name>
        <url-pattern>/UpdateGlassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopFOrAdmin</servlet-name>
        <url-pattern>/ShopFOrAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGlassServlet</servlet-name>
        <url-pattern>/DeleteGlassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserByAdmin</servlet-name>
        <url-pattern>/UpdateUserByAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserByFullName</servlet-name>
        <url-pattern>/SearchUserByFullName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/RemoveFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityCartServlet</servlet-name>
        <url-pattern>/UpdateQuantityCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInvoiceServlet</servlet-name>
        <url-pattern>/AddInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceListServlet</servlet-name>
        <url-pattern>/InvoiceListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInvoiceByUserId</servlet-name>
        <url-pattern>/SearchInvoiceByUserId</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
